<div class="container">
  <h1>Confirmation page</h1>
  <div class="wrappee-white">
    <form action="" class="form-inline" method="POST">
      <div class="input-daterange">
        <input type="text" placeholder="Check-in" name="check_in" class="form-control">
        <input type="text" placeholder="Check-in" name="check_out" class="form-control">
        <%= link_to 'CONFIRM BOOKING', vehicules_path ,class: 'button-yellow'%>
      </div>
    </form>
  </div>
</div>
