// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


.div-inline {
    display: inline-flex;
    padding-left: 0;
    margin-bottom: 10px;
}

.div-inline div {
  margin-left: 5px;
}


