.main-container {
  margin: 0;
  padding: 0;
  width: 100%;
}
.padded-footer {
  margin: 150px 0 0 0;
}
.map_index {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
}
.main {
  display: flex;
  width: 100%;
}
.cards-container {
  flex-grow: 1;
  width: 800px;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 50px;
}
.card {
  margin: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
