.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 0px;
}

.card-name {
  padding: 10px;
  width: 300px;
}

.flex-card-desc {
  display: flex;
  justify-content: space-between;
  align-items: middle;
  color: black;
}

.card-index {
  margin: 10px;
  width: 300px;
  height: 280px;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  h1 {
    font-size: 0.35em;
    margin-top: 0px;
    margin-bottom: 3px;
  }
  h2 {
    font-size: 0.5em;
    margin-top: 0px;
    margin-bottom: 3px;
  }
  p {
    font-size: 0.3em;
    font-weight: lighter;
  }
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h4 {
  font-size: 18px;
}
.card-description p {
  font-size: 14px;
  opacity: 1;
  font-weight: normal;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
 .black-text {
  color: black;
  // height: 175px;
  background-size: cover !important;
  background-position: center;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-color: black;
  border-radius: 50%;
  border-width: 10px;

 }
