.wrapper-white{
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 4px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0.6px 6px 12.6px 1.4px rgba(38, 38, 38, 0.15);
}
